node_modules export-ignore
.gitattributes export-ignore
.gitignore export-ignore
LICENSE export-ignore
package-lock.json export-ignore
package.json export-ignore
README.md export-ignore
index.d.ts export-ignore